/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --title-text-color: #db00ff;
}
